:root {
    --green: #9ACD4C;
    --green-sec: #008037;
    --white: #F0FFFF;
    --orange: #FF3E00;
}

section.team {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='360' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1057%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c370 C 96%2c332.8 288%2c194.2 480%2c184 C 672%2c173.8 768%2c319.6 960%2c319 C 1152%2c318.4 1344%2c208.6 1440%2c181L1440 560L0 560z' fill='rgba(154%2c 205%2c 76%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1057'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 100%;
}

span.imp {
    color: var(--green-sec);
    font-weight: 700;
}

a:hover {
    color: var(--green-sec);
}

a#diff:hover {
    color: var(--green) !important;

}

.bg {
    background-image: url(./assets/wave.svg);
    background-repeat: no-repeat;
    background-position-y: 0%;
    background-size: 120%;
}

.nav-link,
a {
    transition: ease 0.3s;
}

.nav-link:hover {

    color: var(--green-sec);
}

.hamburger {
    display: none;
    /* padding: 3px; */
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-color: var(--white);
}

@media(max-width:768px) {



    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .nav-menu {
        padding: 10px;
        position: absolute;
        left: -100%;
        top: 69px;
        gap: 0;
        flex-direction: column;
        background-color: var(--green);
        width: 100%;
        text-align: center;
        transition: 1s;
        z-index: 100;
        opacity: 10;



    }

    .nav-item {
        font-size: larger;
        height: 50px;
        margin: 5px 0;
    }

    .nav-menu.active {
        left: 0 !important;
        overflow-y: hidden;
    }



}

/* section 2 */
div.nchild:nth-child(n) {
    opacity: 0.7;
    margin-bottom: 10px;
}



.main {
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding: 50px 0 0 0;
    display: grid;
    place-items: center;
}

.heading {

    /* font-size: 40px; */
    font-weight: 500;

    position: relative;
    /* margin-bottom: px; */
}

.heading::after {
    position: absolute;
    content: ' ';
    /* width: 50%; */
    height: 4px;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

/* Container CSS Start  */

.container {
    width: 90%;
    height: auto;
    position: relative;
}

.container ul {
    list-style: none;
}

.container ul::after {
    position: absolute;
    content: ' ';
    width: 2px;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(245, 248, 245), var(--green));
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 0;
}

.container ul li {
    width: 50%;
    height: auto;
    padding: 15px 10px;
    background-color: var(--green);
    border-radius: 10px;
    margin-bottom: 30px;
    z-index: 99;
    position: relative;
}

.container ul li:nth-child(3) {
    margin-bottom: 0px;

}



.container ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    text-align: right;
}

.container ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
}

.container ul li .circle {
    width: 30px;
    height: 30px;
    background-color: rgba(193, 189, 185, 0.101);
    border-radius: 50%;
    position: absolute;
    top: 0;
    z-index: 99;
}

.container ul li .circle::after {
    content: ' ';
    width: 15px;
    height: 15px;
    background-color: var(--green);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container ul li:nth-child(odd) .circle {
    right: -30px;
    transform: translate(50%, -50%);
}

.container ul li:nth-child(even) .circle {
    left: -30px;
    transform: translate(-50%, -50%);
}


/* Media Query */

@media screen and (max-width:1224px) {
    .container {
        width: 85%;
    }
}

@media screen and (max-width:1036px) {
    .container {
        width: 80%;
    }

    .container ul::after {
        left: -20px;
    }

    .container ul li {
        width: 100%;
        float: none;
        clear: none;
    }

    .container ul li:nth-child(odd) {
        transform: translateX(0);
        text-align: left;
    }

    .container ul li:nth-child(odd) .circle {
        left: -20px;
        transform: translate(-50%, -50%);
    }

    .container ul li:nth-child(even) {
        transform: translateX(0);


    }

    .container ul li:nth-child(even) .circle {
        left: -20px;
        transform: translate(-50%, -50%);
    }

}

/* for page 3 */
.text_3{
    color: green;
    font-weight: bold;
    text-transform: uppercase;
}

/* for footer */

.f1{
    font-weight: bold;
    color: rgb(113, 146, 8);
}

.f1:hover{
    color: #199e53;
    font-weight: bold;
}
